body {
    text-align: center;
    background-color: rgb(154, 189, 189);
}

.board {
    width: auto;
    margin: auto;
    background-color: rgb(57, 28, 65);
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    margin: auto;
    background-color: rgb(28, 110, 110);
}

.hidden {
    background-color: rgb(111, 111, 111);
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid black;
}

.empty {
    background-color: rgb(230, 228, 228);
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid rgb(176, 43, 43) 2px;
}

.modal {
    background-color: #408583;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 5px;
    width: 300px;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

button {
    width: 80px;
    height: 25px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(118, 104, 104);
    color: white;
    text-align: center;
    height: 20px;
}

.darkmode {
    margin: auto;
    display: block;
    width: 120px;
    height: 40px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.timer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: green;
    font-size: 24px;
}